/*Estilo de fuente*/

@font-face{
    font-family: "Adam Light";
    src: url("../Media/Adam/Adam-Light.ttf");
}

@font-face{
    font-family: "Adam Bold";
    src: url("../Media/Adam/Adam-Bold.ttf");
}

html {
    font-family: "Adam Light";
    color: #404041;
    font-size: 62.5%;
}

/*Estilo del sitio */

*{
    margin: 0;
    padding: 0;
}

/*Estilo de Header*/

header{
    background-color: #d6d5ca;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 40%;
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
header ul a {
    color: #404041;
    text-decoration: none;
}

header ul a:hover{
    color: #5e5e5f;
}

header img{
    width: 70%;
    margin-top: 0%;
    margin-left: 40%;
    margin-bottom: 0%;
}

/*Estilo de Main*/

body {
    background-color: #efeae4;
}
h1 {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
h2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
h3{
    font-size: 3rem;
}
body p{
    font-size: 2.5rem;
    text-align: center;
    margin: 2%;
}
.imagenBody {
    max-height: 100%;
    max-width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 2%;
}
.valores {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "imgsustentabilidad imgarmnia imgcalma"
    "sustentabilidad armonia calma";
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}
.valores img {
    width: 100%;
    height: 100%;
}

.imgSustentabilidad {
    grid-area: imgsustentabilidad;
}
.imgArmonia {
    grid-area: imgarmonia;
}
.imgCalma {
    grid-area: imgcalma;
}
.Sustentabilidad {
    grid-area: sustentabilidad;
}
.Armonia {
    grid-area: armonia;
}
.Calma {
    grid-area: calma;
}

/*Estilo de Footer*/

footer{
    background-color: #C9A88A;
    font-size: 2rem;    
    margin-bottom: 0%;
    bottom: 0;
}

footer ul {
    list-style-type: none;
}
footer ul a {
    color: #404041;
    text-decoration: none;
}
footer p{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2%;
}
.imagenFooter img {
    width: 15%;
}
.iconosFooter img{
    width: 15%;
}
footer nav {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50px, 50px, 50px, 50px;
    grid-template-areas: 
    "imginstagram liinstagram"
    "imgmail limail"
    "imgtel litel"
    "imggeo ligeo";
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.imginstagram {
    grid-area: imginstagram;
}
.liinstagram {
    grid-area: liinstagram;
}
.imgmail {
    grid-area: imgmail;
}
.limail {
    grid-area: limail;
}
.imgtel{
    grid-area: imgtel;
}
.litel {
    grid-area: litel;
}
.imggeo {
    grid-area: imggeo;
}
.ligeo {
    grid-area: ligeo;
}




.imagenFooter{
    display: flex;
    justify-content: end;
}

footer h4{
    font-size: 3rem;
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
}

/*Estilo del Form Contacto*/

.Formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.Formulariodatos{
    display: flex;
    margin: 2%;
    font-size: 3rem;
    border-radius: 2%;
    font-family: "Adam Light";
    border-width: thin;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.Formulariopedido{
    display: flex;
    margin: 2%;
    font-size: 3rem;
    border-radius: 2%;
    font-family: "Adam Light";
    border-width: thin;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.labelaroma, .labelproducto, .labelcantidad {
    font-family: "Adam Light";
    font-size: 3rem;
}

.botonformulario {
    text-align: end;
    margin-right: 15%;
}

.boton{
    background-color: #404041;
    font-family: "Adam Bold";
    font-size: 2rem;
    border: #404041;
    padding: 1% 1.5%;
    color: whitesmoke;
    margin: 2%;
    border-radius: 15%;
}
.boton:hover{
    background-color: #5e5e5f;
}

/*Mobile responsive ------------------------------------------------------------ */

@media only screen and (max-width:500px) {
    header{
        flex-direction: column;
        font-size: 1rem;
        align-items: end;
    }
    nav {
        width: 70%;
    }

    header img{
        width: 40%;
        justify-content: start;
    }
    h1 {
        font-size: 3rem; 
    }
    h2 {
        font-size: 2rem; 
    }
    h3 {
        font-size: 1.5rem; 
    }
    body p{
        font-size: 1.25rem;
        text-align: center;
        margin: 2%;
    }
    .valores {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100%;
        grid-template-areas: 
        "sustentabilidad armonia calma";
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        margin: 5%;
    }
    .valores img {
        display: none;
    }
    footer{
        font-size: 1.25rem;    
    }
    footer h4{
        font-size: 1.5rem;
    }
    .imagenFooter{
        display: none
    }
    .iconosFooter img{
        width: 40%;
    }
    .iconosFooter, .ulFooter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center  ;
}
footer nav {
    width: 60%;
    margin-top: 5%;
    justify-content: left;
    text-align: left;
}
footer p{
    font-size: 1rem;
    text-align: right;
    padding-bottom: 2%;
}
}